{% extends 'base.html' %}
{% block content %}
<h1>Welcome to Flask Task</h1>
<p>You are logged in as {{ user.name }}. Your role is &lt;{{ user.role }}&gt; Click <a href="{{ url_for('logout') }}">here</a> to logout</p>
<div class="add-task">
    <form class="form-signin" role="form" action="{{ url_for('add_task') }}" method="POST" name="add-task">
        {{ form.csrf_token }}
        <div class="lead">Add a new task</div>
        <p>
            {{ form.name(placeholder="name") }}
            <span class="error">
                {% if name_errors %}
                    {% for error in name_errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
            </span>
        </p>
        <p>
            {{ form.due_date(placeholder="Due date (YYYY/MM/DD)") }}
            <span class="error">
                {% if due_date_errors %}
                    {% for error in due_date_errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
            </span>
        </p>
        <p>
            {{ form.priority.label }}
            {{ form.priority }}
            <span class="error">
                {% if form.priority.errors %}
                    {% for error in form.priority.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
            </span>
        </p>
        <p>
            <input type="submit" class="button" value="Add task" />
        </p>
    </form>
</div>
<div class="entries">
    <br /><br />
    <div class="lead">Open tasks</div>
    <div class="datagrid">
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th width="200px"><strong>Task name</strong></th>
                    <th width="75px"><strong>Due date</strong></th>
                    <th width="100px"><strong>Posted date</strong></th>
                    <th width="50px"><strong>Priotiy</strong></th>
                    <th width="90px"><strong>Posted by</strong></th>
                    <th witdh="90px"><strong>Actions</strong></th>
                </tr>
            </thead>
            {% for task in open_tasks %}
                <tr>
                    <td width="200px">{{ task.name }}</td>
                    <td width="75px">{{ task.due_date }}</td>
                    <td width="100px">{{ task.posted_date }}</td>
                    <td width="50px">{{ task.priority }}</td>
                    <td width="90px">{{ task.poster.name }}</td>
                    <td width="90px">
                        <a href="{{ url_for('complete_task', task_id=task.task_id) }}">Mark as complete </a><br/>
                        <a href="{{ url_for('delete_task', task_id=task.task_id) }}"> Delete task</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<br /><br />
<div class="entries">
    <div class="lead">Closed tasks</div>
    <div class="datagrid">
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th width="200px"><strong>Task name</strong></th>
                    <th width="75px"><strong>Due date</strong></th>
                    <th width="100px"><strong>Posted date</strong></th>
                    <th width="50px"><strong>Priotiy</strong></th>
                    <th width="90px"><strong>Posted by</strong></th>
                    <th width="90px"><strong>Actions</strong></th>
                </tr>
            </thead>
            {% for task in closed_tasks %}
                <tr>
                    <td width="200px">{{ task.name }}</td>
                    <td width="75px">{{ task.due_date }}</td>
                    <td width="100px">{{ task.posted_date }}</td>
                    <td width="50px">{{ task.priority }}</td>
                    <td width="90px">{{ task.poster.name }}</td>
                    <td width="90px">
                        <a href="{{ url_for('delete_task', task_id=task.task_id) }}"> Delete task</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
